@model Yased_Api.Models.Profile

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Profile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name_en)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_en)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title_en)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title_en)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.label)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.label_en)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.label_en)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
